/* a nice template:
 * https://www.w3schools.com/w3css/tryw3css_examples_material.htm */

 /* body {font-family:  sans-serif} */


 .output_circle  {
 width: 2em;
 height: 2em;
 -webkit-border-radius: 1em;
 -moz-border-radius: 1em;
 border-radius: 1em;
  border: 1px solid;
}

 .valve_circle  {
 width: 2em;
 height: 2em;
 -webkit-border-radius: 1em;
 -moz-border-radius: 1em;
 border-radius: 1em;
  border: 1px solid;
}

.tank_meter {
  transform: translate(0,20px) rotate(-90deg);
  width: 100px;
  height: 75px;
  border: 1px solid rgb(73, 73, 73);
  border-radius: 10px;
  margin-bottom:40px;
}
meter::-webkit-meter-optimum-value {
  background: blue; /* Green */
}
