body{
	margin: 0;
	padding: 0;
	padding-bottom:36px;
	font: 16px "Helvetica neue", Helvetica, Arial, sans-serif;
	color: #333;
}
header, footer{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: auto;
	padding: 0 20px;
	background-color: #8BC84B;
	font-size: 24px;
	line-height: 24px;
	height: 36px;
	padding-top: 20px;
	color: #fff;
}
header{
	font-weight: bold;
}
header > a:last-child{
	float: right;
	color: #fff;
	font-weight: normal;
}
footer{
	top: auto;
	bottom: 0;
}
input{
	height: 1.5em;
	font-size: 14px;
}
#content{
	margin-left: 13em;
	margin-top: 4em;
	list-style: none;
}
#log{
    list-style: none;
}
#toc {
   float:left;
   background-color: skyblue;
   width: 11em;
   /*width: 150px;*/
   border-color: black;
   border-width: 1px;
   border-style: solid;
   position: fixed;
   top: 4em;
   left: 1em;
}
table.tableDefault {
	border: 1px solid black;
	border-collapse: collapse;
}
table.tableDefault th  { 
	padding: 8px; 
}
table.tableIO {
  border: 1px solid black;
  table-layout: fixed;
  border-collapse: collapse; 
}
table.tableIO tr:nth-child(1)  { 
	border: solid thin; 
}
/*table.tableIO td { overflow:hidden; }*/
/* table.tableIO td:nth-of-type(1) { width: 20em; } */

table.stdFormat tr:nth-child(even) {
    background-color: #dddddd;
}
table.stdFormat {
  border: 1px solid black;
  table-layout: fixed;
  /*width: 30em; /* must have this set */*/
  border-collapse: collapse; 
}
table.stdFormat tr, th, td {
	border: 1px solid black;
    text-align: left;
    padding: 8px;
}
table.noBorder {
	border-style:none;
}
table.noBorder td, th {
	padding: 0;
	width:30px;
	border-style:none;
}
.tableTemp {
  border: 1px solid black;
  rules: rows;
  border-collapse: collapse;
}
 .output_circle  {
 width: 2em;
 height: 2em;
 -webkit-border-radius: 1em;
 -moz-border-radius: 1em;
 border-radius: 1em;
  border: 1px solid;
}
.bottomright {
    float: right;
}



/* from w3css */

/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #4e9a06;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}