html
  head
    title Debug
    include includes/head.pug
  body
    include includes/toc.pug
    header Debug
    div(id="content")
        
      
        ul(id="log")
        
        include includes/footer.pug
        
