html
  head
    title Debug Style test
    style
      include ../../public/style/style2.css
    script(src='script/debug.js')
    script(src='script/myutil.js')
    
  body
    h2 Navigation
    div(class="sidebar")
      a(href='/') Hauptseite
      
      h3 Liste nach Aktorart
      
      a(href='light') Licht
      
      h3 Liste nach Raum
      
      each room in rooms
        a(href= 'room_' + room) #{room}
        
    include includes/footer.pug
        
