html
  head
    title myHomeCAN
    include includes/head.pug
    script(src='script/client.js')
  body
    include includes/toc.pug
    header Hauptseite 
      div(class="bottomright")='V'+commonData.curver
    div(id="content")
        h1 Status Übersicht
        p Datum
        p Wetter
        p Kalender
        p ...
        meter test

        form(
          oninput= "x.value=parseInt(a.value)"
        )
          input(type= 'range' name= 'a')
          output(name= 'x')
        
    include includes/footer.pug
