html
  head
    title myHomeCAN
    include includes/head.pug
    script(src='script/client.js')
    script(src='script/lib/plotly-latest.min.js')
  body
    include includes/toc.pug
    // main container
    div(class='w3-main' style='margin-left:250px')
      // responsive headline on small screens
      div(class='w3-container w3-top w3-theme w3-large' id='myTop')
        p
          i(class='fa fa-bars w3-button w3-teal w3-hide-large w3-xlarge'
            onclick='w3_open()')
        span(class='w3-hide' id='myIntro') myHomeCAN Hauptseite :)
      
      // responsive headline on wide screens
      header(class='w3-container w3-theme' style='padding:46px 32px') 
        h1(class='w3-xxxlarge') myHomeCAN Hauptseite 
        div(class='w3-right')='V'+commonData.curver
      div(class='w3-container w3-light-grey')
        h1 Status Übersicht
        h1 Ausblick zukünftige Features...
        p Datum
        hr
        p Wetter
          a(class='w3-button w3-margin-left w3-theme-l3' target='_blank' href='https://openweathermap.org/api') https://openweathermap.org/api
        hr
        p Kalender
        hr
        p ...
        hr
        meter(class= 'tank_meter' min=0 max=100 low=10 value=48)

        form(
          oninput= "x.value=parseInt(a.value)"
        )
          input(type= 'range' name= 'a')
          output(name= 'x')
        h3 Entwurf für eigenes Logo
        p Erstellt mit octave und modifiziert mit inkscape. Enthält DB gedreht :)
          |  Script:
        div(class='w3-code') 
          | x=0:0.01:2*pi;
          br
          | y1=2*sin(x/2);
          br
          | y2=abs(sin(x));
          br
          | fill(x,y1,1,x,y2,2)

        img(src='./images/dblogo.svg' width='800')
        h3 Plot Bibliothek
        a(class='w3-button w3-theme-l3' target='_blank' href='https://www.plotly.com/') https://www.plotly.com/
        div(id='plotlytest')
      include includes/footer.pug
