html
  head
    title Cockpit
    include includes/head.pug
    script(src='script/client.js')
  body
    include includes/toc.pug
    header Hauptseite
    div(id="content")
        h1 Status Übersicht...
    include includes/footer.pug
