html
  head
    title= title
    include includes/head.pug
    script(src='script/room.js')
  body
    include includes/toc.pug
    header Lichtbedienung
    div(id="content")
        h1= Licht
        
        hr
        #lights
        each floor, fkey in homeObj
          table
            tbody
              tr
                td
                  img(src='./images/light.jpeg' height="42" width="42")
                td
                  table(class= 'tableIO')
                    thead
                      tr: th= 'Licht ' +fkey
                    tbody
                        each room, rkey in floor
                         each item, ikey in room
                           if item.type === 'light'
                            tr
                              td
                                = rkey + ' ' + ikey
                              td 
                                button(onClick="room.lightClick(this.id, 'ON')" type="button" id= item.out_addr) AN
                              td 
                                button(onClick="room.lightClick(this.id, 'OFF')" type="button" id= item.out_addr) AUS
                              td
                                div(class='output_circle' id= item.out_addr+'_output_circle')
                                
                td
                  p Verknüpfte Ereignisse: (Zeitschaltuhr, ...)
        hr
      
    include includes/footer.pug

