html
  head
    include includes/head.pug
    script(src='script/system.js')
  body
    include includes/toc.pug
    header System Status
    div(id="content")
      h1 Status aktive Knoten
      p Anzahl: 
        span(id="aliveCnt") 0
        span  letzte Aktualisierung: 
        span(id="dateAct") 0
      table(class= 'stdFormat' id='aliveTable')
        thead
          tr
            th ID
            th Zustand
            th Zaehler
            th SW-Version
            th Letzter Empfangszeitpunkt
            th(width=200) Ausgaenge
            th(width=200) Eingaenge
        tbody
          tr
            td wird in Kuerze aktualisiert...
      h1 Serverstatus
      p Aktuelle Version (evtl. in footer oder so)
      p uptime...
      p cpu load, net load, bus load
      table(class='noBorder' id='byteTable')
        thead
          tr
            th 15
            th 14
            th 13
            th 12
            th 11
            th 10
            th 9
            th 8
            th 7
            th 6
            th 5
            th 4
            th 3
            th 2
            th 1
            th 0
        tbody
          tr
            td 1
            td 0
            td 1
            td 0
            td 1
            td 0
            td 1
            td 0
            td 1
            td 0
            td 1
            td 0
            td 1
            td 0
            td 1
            td 0
      p space
      include includes/footer.pug
        
