html
  head
    include includes/head.pug
    script(src='script/system.js')
  body
    include includes/toc.pug
    header System Status
    div(id="content")
      h1 Status aktive Knoten
      p Anzahl: 
        span(id="aliveCnt") 0
        span  letzte Aktualisierung: 
        span(id="dateAct") 0
      table(class= 'stdFormat' id='aliveTable')
        thead
          tr
            th ID
            th Zustand
            th Zaehler
            th SW-Version
            th Letzter Empfangszeitpunkt
            th(width=200) Ausgaenge
            th(width=200) Eingaenge
        tbody
          tr
            td wird in Kuerze aktualisiert...
      h1 Serverstatus
      p Aktuelle Version (evtl. in footer oder so)
      p uptime...
      p cpu load, net load, bus load
      include includes/footer.pug
        
