html
  head
    include includes/head.pug
    script(src='script/system.js')
    script(src='script/myutil.js')
    script(src='script/lib/sprintf.js')
  body
    include includes/toc.pug
    // main container
    div(class='w3-main' style='margin-left:250px')
      // responsive headline on small screens
      div(class='w3-container w3-top w3-theme w3-large' id='myTop')
        p
          i(class='fa fa-bars w3-button w3-teal w3-hide-large w3-xlarge'
            onclick='w3_open()')
        span(class='w3-hide' id='myIntro') myHomeCAN System :)
      // responsive headline on wide screens
      header(class='w3-container w3-theme' style='padding:46px 32px') 
        h1(class='w3-xxxlarge') System 
      div(class='w3-container w3-light-grey ' style='padding:32px; overflow:auto;')
        h1 Serverstatus
        table(class='w3-table-all')
          tr(class='w3-hover-light-blue') 
            td Anwendung läuft seit
            td
              pre(id='srvuptime')
          tr(class='w3-hover-light-blue') 
            td Server läuft seit
            td
              pre(id='srvsrvuptime')
          tr(class='w3-hover-light-blue') 
            td CPU Last
            td
              pre(id='srvcpuload')
          tr(class='w3-hover-light-blue') 
            td Freier Arbeitsspeicher
            td
              pre(id='srvfreemem')
          tr(class='w3-hover-light-blue') 
            td Gesamtarbeitsspeicher
            td
              pre(id='srvtotalmem')
        h1 Status aktive Knoten
        p Anzahl: 
          span(id="aliveCnt") 0
          span  letzte Aktualisierung: 
          span(id="dateAct") 0
        table(class='w3-table-all w3-small w3-stripped' id='aliveTable')
          thead
            tr
              th ID
              th Zustand
              th Zaehler
              th SW-Version
              th Letzter Empfangszeitpunkt
              th(width=200) Ausgaenge
              th(width=200) Eingaenge
          tbody
            tr
              td wird in Kuerze aktualisiert...
        
        
        a(class='w3-btn w3-block w3-theme-l3 w3-left-align' href='debug') Debug
      include includes/footer.pug
          
