html
  head
    title= title
    include includes/head.pug
    script(src='script/watering.js')
  body
    include includes/toc.pug
    header Bewaesserung 
      div(class="bottomright")='V'+commonData.curver
    div(id="content")
        h1= Ventile
        #TODOvalves
        each floor, fkey in homeObj
          each room, rkey in floor
            each item, ikey in room
              if item.type === 'tank'
                - var tankId = fkey+'_'+rkey+'_'+ikey
                p
                  table(class= 'tableDefault')
                    tbody
                      tr
                        td
                          img(src='./images/water.png' height="42" width="42")
                        td
                          table(class= 'tableIOtank')
                            thead
                              tr: th= 'Tank ' +fkey
                                th
                                th Soll
                                th AN
                                th AUS
                                th Status
                                th Startzeit
                            tbody
                              tr
                                td
                                  = rkey + ' ' + ikey
                                td 
                                  // use other id creation here because a tank
                                  // not necessarily has a fill valve with addr
                                  meter(class= 'tank_meter' id= tankId+'_tank' min=0 max=100 low=25 value=48) 
                                  div(class= 'w3-center' id= tankId+'_actlvl') 48%
                                td
                                  select(id= tankId+'_cmdlvl')
                                    option(value='25%') 25%
                                    option(value='50%') 50%
                                    option(value='75%') 75%
                                    option(value='100%') 100%
                                td 
                                  button(onClick="watering.lvlCmdClick(this.id, 'ON')" type="button" id= tankId) AN
                                td
                                  button(onClick="watering.lvlCmdClick(this.id, 'OFF')" type="button" id= tankId) AUS
                                td
                                  div(class='output_circle' id= tankId+'_output_circle')
                                td
                                  p(id= tankId+'_starttime') 15:29:10 Uhr
        hr
      
    include includes/footer.pug

