link(rel='stylesheet', href='style/w3.css')
link(rel='stylesheet', href='style/w3-theme-teal.css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
link(rel='stylesheet', href='style/style.css')

script(src='socket.io/socket.io.js')
script(src='script/lib/jquery.min.js')
script(src='script/lib/sprintf.js')
script(src='script/style.js')